.clip-hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.clip-blob {
  clip-path: path(
    "M431.5,302Q407,354,357,379.5Q307,405,254.5,425Q202,445,156,412.5Q110,380,79,335Q48,290,65,232.5Q82,175,117,132Q152,89,203,69.5Q254,50,311.5,61Q369,72,403,118.5Q437,165,450,217.5Q463,270,431.5,302Z"
  );
}

.clip-star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
